Panda Series
-------------

In [2]:
import pandas as pd
import numpy as np

pd.Series()

C:\Users\Dell\AppData\Local\Temp\ipykernel_23544\3418071402.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [3]:
icecream_flavors = ["Vanilla", "Butterscoth", "Strawberry", "Chocolate"]
pd.Series(icecream_flavors)

0        Vanilla
1    Butterscoth
2     Strawberry
3      Chocolate
dtype: object

In [ ]:
pd.Series(
    data=None,
    index=None,
    dtype=None,
    name=None,
    copy=False,
    fastpath=False

)

In [4]:
# Customizing index
icecream_flavors = ["Vanilla", "Butterscoth", "Strawberry", "Chocolate"]
days_of_week = ("Monday", "Wednesday", "Thursday", "Saturday")
pd.Series(data=icecream_flavors, index=days_of_week)

Monday           Vanilla
Wednesday    Butterscoth
Thursday      Strawberry
Saturday       Chocolate
dtype: object

In [7]:
# Create a Series object with gold prices and days of the week as index

days_of_week = ("Monday", "Wednesday", "Thursday", "Saturday")
price_of_week = [46600, 46700,46800,46900]
pd.Series(data=price_of_week, index=days_of_week)

Monday       46600
Wednesday    46700
Thursday     46800
Saturday     46900
dtype: int64

In [8]:
# Missing data
price_of_week = [46600, 46700,46800,np.nan]
pd.Series(data=price_of_week, index=days_of_week)

Monday       46600.0
Wednesday    46700.0
Thursday     46800.0
Saturday         NaN
dtype: float64

In [12]:
# Creating series from python dictionary
calorie_info = {
    'Rice': 136,
    'Chapati': 79,
    'dal': 104
}

diet = pd.Series(calorie_info)
print(diet)

# Creating series from python set
my_favorite_movies_recently = { "Vikram", "Thor", "Major", "VirataParvam" }
movies = pd.Series(list(my_favorite_movies_recently))
print(movies)

Rice       136
Chapati     79
dal        104
dtype: int64
0          Vikram
1            Thor
2    VirataParvam
3           Major
dtype: object

In [21]:
print(movies.values)
print(type(movies.values))
print(movies.size)
print(movies.shape)
print(movies.head(2))
print(movies.tail(2))

diet + 1

['Vikram' 'Thor' 'VirataParvam' 'Major']
<class 'numpy.ndarray'>
4
(4,)
0    Vikram
1      Thor
dtype: object
2    VirataParvam
3           Major
dtype: object

Rice       137
Chapati     80
dal        105
dtype: int64

In [42]:
netflix_titles = pd.read_csv(filepath_or_buffer="netflix_titles.csv", index_col="show_id", parse_dates=["date_added"])
#print(netflix_titles.head(5))
#
print(netflix_titles.sort_values(ascending = False, by="date_added").head())
#pd.Series(data=["Admin", "architect", "tester", "developer"]).sort_values(ascending=False)
netflix_titles = netflix_titles.dropna()
netflix_titles.sort_values(ascending = False, by="date_added").head()

# finding out smallest n and largest n values

movies = netflix_titles.sort_values(ascending = False, by='release_year')
# find the latest 5 movies
print(movies.head(5))
# find the oldest 5 movies
print(movies.tail(5))

            type                                title  \
show_id
s1         Movie                 Dick Johnson Is Dead
s7         Movie     My Little Pony: A New Generation
s11      TV Show  Vendetta: Truth, Lies and The Mafia
s10        Movie                         The Starling
s9       TV Show        The Great British Baking Show

                              director  \
show_id
s1                     Kirsten Johnson
s7       Robert Cullen, Jos√© Luis Ucha
s11                                NaN
s10                     Theodore Melfi
s9                     Andy Devonshire

                                                      cast         country  \
show_id
s1                                                     NaN   United States
s7       Vanessa Hudgens, Kimiko Glenn, James Marsden, ...             NaN
s11                                                    NaN             NaN
s10      Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...   United States
s9       Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...  United Kingdom

        date_added  release_year rating   duration  \
show_id
s1      2021-09-25          2020  PG-13     90 min
s7      2021-09-24          2021     PG     91 min
s11     2021-09-24          2021  TV-MA   1 Season
s10     2021-09-24          2021  PG-13    104 min
s9      2021-09-24          2021  TV-14  9 Seasons

                                                 listed_in  \
show_id
s1                                           Documentaries
s7                                Children & Family Movies
s11      Crime TV Shows, Docuseries, International TV S...
s10                                       Comedies, Dramas
s9                            British TV Shows, Reality TV

                                               description
show_id
s1       As her father nears the end of his life, filmm...
s7       Equestria's divided. But a bright-eyed hero be...
s11      Sicily boasts a bold "Anti-Mafia" coalition. B...
s10      A woman adjusting to life after a loss contend...
s9       A talented batch of amateur bakers face off in...
            type                title  \
show_id
s1185      Movie  The Yin Yang Master
s911       Movie              Monster
s298     TV Show             Navarasa
s300       Movie            The Swarm
s301       Movie                 Vivo

                                                  director  \
show_id
s1185                                            Li Weiran
s911                                       Anthony Mandler
s298     Bejoy Nambiar, Priyadarshan, Karthik Narain, V...
s300                                        Just Philippot
s301                        Kirk DeMicco, Brandon Jeffords

                                                      cast  \
show_id
s1185    Chen Kun, Zhou Xun, Qu Chuxiao, Shen Yue, Will...
s911     Kelvin Harrison Jr., Jennifer Hudson, Jeffrey ...
s298     Suriya, Vijay Sethupathi, Revathy, Prakash Raj...
s300     Suliane Brahim, Sofian Khammes, Marie Narbonne...
s301     Lin-Manuel Miranda, Ynairaly Simo, Zoe Saldana...

                       country date_added  release_year rating  duration  \
show_id
s1185                    China 2021-03-19          2021  TV-14   120 min
s911             United States 2021-05-07          2021  TV-MA    99 min
s298                     India 2021-08-06          2021  TV-MA  1 Season
s300                    France 2021-08-06          2021  TV-14   102 min
s301     Canada, United States 2021-08-06          2021     PG   100 min

                                                 listed_in  \
show_id
s1185             Action & Adventure, International Movies
s911                                                Dramas
s298                                              TV Shows
s300     Horror Movies, Independent Movies, Internation...
s301            Children & Family Movies, Music & Musicals

                                               description
show_id
s1185    A feud erupts between realms, and Yin Yang mas...
s911     A talented teen implicated in a robbery-turned...
s298     From amusement to awe, the nine human emotions...
s300     A single mother breeds locusts as high-protein...
s301     A music-loving kinkajou embarks on the journey...
          type                    title  \
show_id
s8588    Movie              Thunderbolt
s7295    Movie       Let There Be Light
s7220    Movie  Know Your Enemy - Japan
s8641    Movie         Tunisian Victory
s8206    Movie     The Battle of Midway

                                                  director  \
show_id
s8588                          William Wyler, John Sturges
s7295                                          John Huston
s7220                             Frank Capra, Joris Ivens
s8641    Frank Capra, John Huston, Hugh Stewart, Roy Bo...
s8206                                            John Ford

                                 cast                        country  \
show_id
s8588    James Stewart, Lloyd Bridges                  United States
s7295                   Walter Huston                  United States
s7220     Walter Huston, Dana Andrews                  United States
s8641                Burgess Meredith  United States, United Kingdom
s8206       Henry Fonda, Jane Darwell                  United States

        date_added  release_year rating duration  \
show_id
s8588   2017-03-31          1947  TV-PG   42 min
s7295   2017-03-31          1946  TV-PG   58 min
s7220   2017-03-31          1945  TV-14   63 min
s8641   2017-03-31          1944  TV-14   76 min
s8206   2017-03-31          1942  TV-14   18 min

                             listed_in  \
show_id
s8588    Classic Movies, Documentaries
s7295    Classic Movies, Documentaries
s7220    Classic Movies, Documentaries
s8641    Classic Movies, Documentaries
s8206    Classic Movies, Documentaries

                                               description
show_id
s8588    A P-47 Thunderbolt squadron is shown in prepar...
s7295    Some returning combat veterans suffer scars th...
s7220    Though culturally insensitive by modern standa...
s8641    British and American troops join forces to lib...
s8206    Director John Ford captures combat footage of ...

In [49]:
print(type(netflix_titles['country']))
print(netflix_titles['country'].value_counts())

netflix_titles['release_year'].value_counts(bins=6, sort=False)

<class 'pandas.core.series.Series'>
United States                                   1846
India                                            875
United Kingdom                                   183
Canada                                           107
Spain                                             91
                                                ...
Uruguay, Guatemala                                 1
Romania, Bulgaria, Hungary                         1
Philippines, United States                         1
India, United Kingdom, Canada, United States       1
United Arab Emirates, Jordan                       1
Name: country, Length: 604, dtype: int64

(1941.92, 1955.167]       10
(1955.167, 1968.333]      26
(1968.333, 1981.5]        86
(1981.5, 1994.667]       184
(1994.667, 2007.833]     574
(2007.833, 2021.0]      4452
Name: release_year, dtype: int64

In [53]:
# Create a python dictionary
city_data = {
    "City": ["Mumbai", "Delhi", "Bengaluru", "Hyderabad"],
    "State": ["Maharastra", "Delhi", "Karnataka", "Telangana"],
    "Population": [12691836, 10927986, 8443675, 6809970 ]
}
cities = pd.DataFrame(data=city_data)
cities

# Other option is to create a csv file and import it.

        City       State  Population
0     Mumbai  Maharastra    12691836
1      Delhi       Delhi    10927986
2  Bengaluru   Karnataka     8443675
3  Hyderabad   Telangana     6809970