Introduction to pandas
-----------------------

* [Refer Here](https://pandas.pydata.org/)
* [Refer Here](https://pandas.pydata.org/docs/user_guide/index.html) for the user guide

In [4]:
import pandas as pd
pd?

Type:        module
String form: <module 'pandas' from 'C:\\Users\\qtkhaja\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\qtkhaja\anaconda3\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

Initializing a DataFrame Object
-------------------------------

In [6]:
# initialzing the Dataframe from dictionary
import numpy as np
import pandas as pd
my_dict = { 'col1': [1,2], 'col2': np.array([3,4]), 'col3': [5,6]}
df = pd.DataFrame(my_dict)
df

   col1  col2  col3
0     1     3     5
1     2     4     6

In [7]:
# initializing the dictionary from the 2D Numpy array
my_array = np.array([[1,3,5,7], [2,4,6,8]])
df_from_np = pd.DataFrame(my_array, columns = ['col1', 'col2', 'col3', 'col4'])
df_from_np

   col1  col2  col3  col4
0     1     3     5     7
1     2     4     6     8

In [9]:
# reading from csv
df_from_csv = pd.read_csv('sample.csv')
df_from_csv

    sno                                      food    size  price
0     1                      Build Your Own Pizza     NaN   8.45
1     2                               1 Top Pizza     NaN   6.75
2     3                          Simple Pie Pizza     NaN   5.55
3     4                          Meat Eater Pizza     NaN   8.45
4     5                         BBQ Chicken Pizza     NaN   8.45
5     6                        Green Stripe Pizza     NaN   8.45
6     7                           Art Lover Pizza     NaN   8.45
7     8                            Red Vine Pizza     NaN   8.45
8     9                             Veg Out Pizza     NaN   8.45
9    10                             Link In Pizza     NaN   8.45
10   11                           White Top Pizza     NaN   8.45
11   13                       Caesar (Side Salad)     NaN   3.95
12   14      Tomato, Basil & Ovalini (Side Salad)     NaN   3.95
13   15  Roasted Veggie & Gorgonzola (Side Salad)     NaN   3.95
14   16           Beet & Goat Cheese (Side Salad)     NaN   3.95
15   17                  Antipasto (Entree Salad)     NaN   7.25
16   18             Chicken Caesar (Entree Salad)     NaN   7.25
17   20                                S'more Pie     NaN   2.00
18   22                            Fountain Drink     NaN   2.10
19   23                                     Water  Bottle   1.95
20   24                                      Milk     NaN   1.95

In [12]:
df_from_csv.loc[0]

sno                         1
food     Build Your Own Pizza
size                      NaN
price                    8.45
Name: 0, dtype: object

In [13]:
df.loc[0]

col1    1
col2    3
col3    5
Name: 0, dtype: int64

In [14]:
df_from_np.loc[0]

col1    1
col2    3
col3    5
col4    7
Name: 0, dtype: int32

In [16]:
df_from_csv.loc[[1,2]]

   sno              food size  price
1    2       1 Top Pizza  NaN   6.75
2    3  Simple Pie Pizza  NaN   5.55

In [17]:
df_from_csv.loc[0, ['sno', 'food', 'price']]

sno                         1
food     Build Your Own Pizza
price                    8.45
Name: 0, dtype: object

In [19]:
df_from_csv.loc[:, 'food']

0                         Build Your Own Pizza
1                                  1 Top Pizza
2                             Simple Pie Pizza
3                             Meat Eater Pizza
4                            BBQ Chicken Pizza
5                           Green Stripe Pizza
6                              Art Lover Pizza
7                               Red Vine Pizza
8                                Veg Out Pizza
9                                Link In Pizza
10                             White Top Pizza
11                         Caesar (Side Salad)
12        Tomato, Basil & Ovalini (Side Salad)
13    Roasted Veggie & Gorgonzola (Side Salad)
14             Beet & Goat Cheese (Side Salad)
15                    Antipasto (Entree Salad)
16               Chicken Caesar (Entree Salad)
17                                  S'more Pie
18                              Fountain Drink
19                                       Water
20                                        Milk
Name: food, dtype: object

In [20]:
df_from_csv['food']

0                         Build Your Own Pizza
1                                  1 Top Pizza
2                             Simple Pie Pizza
3                             Meat Eater Pizza
4                            BBQ Chicken Pizza
5                           Green Stripe Pizza
6                              Art Lover Pizza
7                               Red Vine Pizza
8                                Veg Out Pizza
9                                Link In Pizza
10                             White Top Pizza
11                         Caesar (Side Salad)
12        Tomato, Basil & Ovalini (Side Salad)
13    Roasted Veggie & Gorgonzola (Side Salad)
14             Beet & Goat Cheese (Side Salad)
15                    Antipasto (Entree Salad)
16               Chicken Caesar (Entree Salad)
17                                  S'more Pie
18                              Fountain Drink
19                                       Water
20                                        Milk
Name: food, dtype: object

In [23]:
for item in df_from_csv['price']:
    print(f'price = {item}, type={type(item)}')

price = 8.45, type=<class 'float'>
price = 6.75, type=<class 'float'>
price = 5.55, type=<class 'float'>
price = 8.45, type=<class 'float'>
price = 8.45, type=<class 'float'>
price = 8.45, type=<class 'float'>
price = 8.45, type=<class 'float'>
price = 8.45, type=<class 'float'>
price = 8.45, type=<class 'float'>
price = 8.45, type=<class 'float'>
price = 8.45, type=<class 'float'>
price = 3.95, type=<class 'float'>
price = 3.95, type=<class 'float'>
price = 3.95, type=<class 'float'>
price = 3.95, type=<class 'float'>
price = 7.25, type=<class 'float'>
price = 7.25, type=<class 'float'>
price = 2.0, type=<class 'float'>
price = 2.1, type=<class 'float'>
price = 1.95, type=<class 'float'>
price = 1.95, type=<class 'float'>