Variability Estimates of State Poplulation
-------------------------------------------

In [2]:
import pandas as pd
state_df = pd.read_csv('murderrate.csv')
state_df

        State  Population  Murder Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA
5    Colorado     5029196          2.8           CO
6  Connectiut     3574097          2.4           CT
7    Delaware      897934          5.8           DE

In [3]:
# standard deviation
state_df['Population'].std()

12105745.29585633

In [4]:
# Lets calculate IQR
state_df['Population'].quantile(0.75) - state_df['Population'].quantile(0.25)

2958479.25

In [10]:
# For the scores fo the students 3,5,7,9,12,21,25,30 calculate the 25th percentile
students_df = pd.read_csv('studentscores.csv')
students_df['score'].quantile(0.25)

6.5